.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33% - 10px - 2rem);
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    margin: 5px;
}

.book-card img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    min-height: 510px;
    max-height: 510px;
}

.book-card h2 {
    font-size: 20px;
}

.book-card select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    font-size: 18px;
}